* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Marmelad', sans-serif;
    max-width: 1040px;
    height: 1280px; 
    margin: 0 auto;
    background-color: #fff;
    color: #000;
}

header {
    font-family: 'Oswald';
    font-size: 15px;
    font-weight: normal;
    background-color: #181818;
    color: #fff;
    position: relative;
    padding: 20px 30px;
}

header .logo {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 100px;
    width: 100px;
    background: url('http://www.solutionsweb.pro/img/logo.png') no-repeat center;
    background-size: cover;
}

header h1 {
    font-size:  45px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}

header h2 {
    font-family: 'Oswald', sans-serif;
    margin: 10px 0 0 0;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}

.summary,
.experiences {
    background: #fff;
    padding: 20px 30px;
}

.experiences {
    border: 1px solid #e4e4e4;
    border-width:1px 0 0 0;
}

.summary h2,
.experiences h2,
.skills h2 {
    font-family: 'Yanone Kaffeesatz';
    text-shadow: 0 1px 1px rgba(64, 64, 64, 0.33);
    margin: 0 0 10px;
    font-size: 30px;
}

.summary p {
  line-height: 24px;
}
.experiences h3,
.skills h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-shadow: 0 1px 1px rgba(64, 64, 64, 0.33);
    margin: 0;
    font-size: 20px;
}

.experiences .experience {
    margin-top: 20px;
    float: left;
    width: 49.5%;
}

.experiences .experience:nth-child(even) {
    margin-right: 1%;
}

.experiences .experience .experience-detail {
    margin: 10px 0;
    border: 1px solid #e4e4e4;
    padding: 5px 10px;
}

.experiences .experience h4 {
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    color: #d20073;
}

.experiences .experience .description {
    margin-bottom: 10px;
    line-height: 20px;
}

.experiences .experience .link {
    color: #d20073;
    font-size: 13px;
    float: right;
    line-height: 20px;
}

.experiences .experience .technical {
    font-size: 12px;
    margin-bottom: 5px;
}

.experiences .experience .technical-detail {
    background: #009DE0;
    color: #fff;
    padding: 2px 5px;
    border-radius: 2px;
}

.skills {
    background: #f5f5f5;
    padding: 20px 30px;
}

.skills h2 {
    margin-bottom: 30px;
}

.skills .skill {
    display: inline-block;
    vertical-align: top;
    width: 24.5%;
    margin-bottom: 20px;
}

.skills .skill h3 {
    margin-bottom:10px;
}

.skills .skill p {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 68%;
    font-size: 13px;
    margin: 0;
}

.skills .skill .icon {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    background: url(img/skills.png) no-repeat #fff;
    background-size: 97%;
    margin-right: 10px;
}


.skills .skill.sf2 .icon { 
    background: url(img/sf.png) no-repeat #fff;
}

.skills .skill.facebook-app .icon { 
    background: url(img/fb.png) no-repeat #fff;
}

.skills .skill.node-js .icon { 
    background: url(img/node.png) no-repeat #fff;
}

.skills .skill.jQuery .icon { 
    background: url(img/jquery.gif) no-repeat #fff;
}

.skills .skill.php .icon { 
    background: url(img/php.png) no-repeat #fff;
}

.skills .skill.cordova .icon { 
    background: url(img/cordova.png) no-repeat #fff;
}

.skills .skill .rating {
    display: inline-block;
}

.skills .skill.html-css .icon { background-position: 0 -60px; }
.skills .skill.windows-store .icon { background-position: 0 -700px; }
.skills .skill.angularJS .icon { background-position: 0 -512px; }

.rating > span {
    display: inline-block;
    position: relative;
    color: #F1C40F;
    font-size: 30px;
}

.rating > span:before {
    content: "\2605";
    position: absolute;
    text-shadow: 0 2px 2px #E67E22;
}

